In [55]:
#importing packages
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [99]:
#reading in the data and looking at the first few rows and all columns 
movies = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')
movies
movies.head()
movies.info()

    Movie ID                        Movie Name  ...  History  Label
0         58                The Imitation Game  ...        0      0
1          8                        Ex Machina  ...        0      0
2         46                  A Beautiful Mind  ...        0      0
3         62                 Good Will Hunting  ...        0      0
4         97                      Forrest Gump  ...        0      0
5         98                                21  ...        1      0
6         31                            Gifted  ...        0      0
7          3               Travelling Salesman  ...        0      0
8         51                            Avatar  ...        0      0
9         47                    The Karate Kid  ...        0      0
10        50            A Brilliant Young Mind  ...        0      0
11        49                    A Time To Kill  ...        0      0
12        30                      Interstellar  ...        0      0
13        94           The Wolf of Wall Street  ...        0      0
14         6                     Black Panther  ...        0      0
15        73                         Inception  ...        0      0
16        44                    The Wind Rises  ...        0      0
17        65                     Spirited Away  ...        0      0
18        48                 Finding Forrester  ...        0      0
19        27                      The Fountain  ...        0      0
20        57                  The DaVinci Code  ...        0      0
21        57                 Stand and Deliver  ...        0      0
22        14                    The Terminator  ...        0      0
23        69                    21 Jump Street  ...        0      0
24        98                      The Avengers  ...        0      0
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[30 rows x 11 columns]

In [91]:
#using the columns from IMDB rating and on against the Movie name, movie ID is not being used 
x = movies.iloc[:,2:10]
y = movies[['Movie Name']]
x

    IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0           8.0          1      1         1       0      0        0        0
1           7.7          0      1         0       0      0        1        0
2           8.2          1      1         0       0      0        0        0
3           8.3          0      1         0       0      0        0        0
4           8.8          0      1         0       0      0        0        0
5           6.8          0      1         0       0      1        0        1
6           7.6          0      1         0       0      0        0        0
7           5.9          0      1         0       0      0        1        0
8           7.9          0      0         0       0      0        0        0
9           7.2          0      1         0       0      0        0        0
10          7.2          0      1         0       0      0        0        0
11          7.4          0      1         1       0      1        0        0
12          8.6          0      1         0       0      0        0        0
13          8.2          1      0         0       1      1        0        0
14          7.4          0      0         0       0      0        0        0
15          8.8          0      0         0       0      0        0        0
16          7.8          1      1         0       0      0        0        0
17          8.6          0      0         0       0      0        0        0
18          7.3          0      1         0       0      0        0        0
19          7.3          0      0         0       0      0        0        0
20          6.6          0      0         1       0      0        1        0
21          7.3          0      1         0       0      0        0        0
22          8.0          0      0         0       0      0        0        0
23          7.2          0      0         0       1      1        0        0
24          8.1          0      0         0       0      0        0        0
25          7.9          0      0         0       1      0        0        0
26          7.1          0      0         0       0      0        0        0
27          8.2          1      1         0       0      0        0        1
28          8.1          1      1         0       0      0        0        1
29          7.4          1      1         0       0      0        0        0

In [112]:
#creating a KNN classifier to fit the data and show the top 5 movies recommened 
nbrs = KNeighborsClassifier(n_neighbors=5)
nbrs.fit(x,y)
top_5 = nbrs.kneighbors([[7.2,1,1,0,0,0,0,1]])
#creating for loop to print out the top 5
for i in top_5[1][0]:
    print(movies.loc[i]['Movie Name'])

#making the recommender system for "The Post" values, showing the top movie that is recommended 
predicted_values= nbrs.predict([[7.2,1,1,0,0,0,0,1]])
print(predicted_values)

12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
A Beautiful Mind
['12 Years a Slave']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until